<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" th:href="@{/css/login.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

	<script th:src="@{https://kit.fontawesome.com/8144c1797c.js}" crossorigin="anonymous"></script>
</head>

<body>
<section class="vh-100 gradient-custom">
	<div class="container py-1 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-dark text-white" style="border-radius: 1rem;">
					<div class="card-body p-1 text-center">

						<div class="mb-md-5 mt-md-4 pb-3">
							<h2 class="fw-bold mb-2 text-uppercase">Реєстрація</h2>
							<p class="text-white-50 mb-5">Введіть Ваш логін та пароль</p>
							<form th:action="@{/registration}" method="post">
								<div class="form-outline form-white mb-4">
									<input maxlength="25" name="username" type="text" placeholder="Логін" class="form-control form-control-lg" required>
								</div>

								<div class="form-outline form-white mb-2">
									<input maxlength="50" name="password" type="password" placeholder="Пароль" class="form-control form-control-lg" required>
								</div>

								<div class="form-outline form-white mb-4">
									<input maxlength="50" name="password2" type="password" placeholder="Пароль" class="form-control form-control-lg" required>
								</div>

								<div class="form-outline form-white mb-2">
									<input maxlength="25" name="name" type="text" placeholder="Ім'я" class="form-control form-control-lg" required>
								</div>

								<div class="form-outline form-white mb-2">
									<input maxlength="25" name="surname" type="text" placeholder="Прізвище" class="form-control form-control-lg" required>
								</div>
								<div class="form-outline form-white mb-2">
									<input type="date" name="dateOfBirth" class="form-control" min="1940-01-01" max="2004-01-01" value="2003-07-05">
								</div>

								<div class="form-outline form-white mb-2">
									<input type="checkbox" id="remember" name="remember-me">
									<label for="remember">Запам'ятати мене?</label>
								</div>

								<button class="btn btn-outline-light btn-lg px-5" type="submit">Зареєструватися!</button>

								<div class="d-flex justify-content-center text-center mt-4 pt-1">
									<a href="https://www.instagram.com/dolgushin_49/" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
									<a href="https://www.facebook.com/profile.php?id=100011109574486" class="text-white"><i class="fab fa-facebook fa-lg mx-4 px-2"></i></a>
								</div>
							</form>
						</div>

						<div>
							<p class="mb-0">Вже маєте аккаунт? <a th:href="@{/login}" class="text-white-50 fw-bold">Увійдіть!</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>